@model IEnumerable<Flightos.Models.Flights>
@{
    if (Session["admin"] != null)
    {
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }
    else if (Session["username"] != null)
    {
        Layout = "~/Views/Shared/UserLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/DefaultLayout.cshtml";
    }
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<style>
    .row {
        padding: 10px;
        padding-left :20px;

    }

    .column {
        float: left;
        width: 33.33%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
@foreach (var item in Model)
{
    string depdate = item.depdate.ToString("dd/M/yyyy");
    string arivedate = item.arrivedate.ToString("dd/M/yyyy");
    string deptime = item.depdate.ToString("HH:mm");
    string arivetime = item.arrivedate.ToString("HH:mm");
    string date = item.depdate.ToString("dd/M/yyyy") + " - > " + item.arrivedate.ToString("dd/M/yyyy");
    string time = item.depdate.ToString("HH:mm") + " - > " + item.arrivedate.ToString("HH:mm");
    <div class="card" style="display:block;border-radius:25px; background:rgb(101,154,232);">
        <table style="display:table;width:100%;">
            <tr>
                <div class="row" style="padding-left : 20px">
                    <td class="column">
                        <div class="card">
                            <h3 class="card-title" style="padding-left: 20px; text-align: center">
                                Flight Company
                            </h3>
                            <p style="padding-left: 50px; padding-top:50px ">@Html.DisplayFor(modelItem => item.flightcompany)</p>
                        </div>
                    </td>
                
                    <td class="column" style="flex:auto">
                        <div class="card">
                            <h3 class="card-title" style="text-align: center; padding-left: 5px">
                                Flight Details
                            </h3>
                            <h4 class="card-title" style="padding-left: 5px ">
                                <div class=" row" style="text-align:center">
                                    <p style="text-align: center">@Html.DisplayFor(modelItem => item.from)
                                    <img src="~/Images/output-onlinepngtools.png" width="30" height="30" />
                                    @Html.DisplayFor(modelItem => item.to)</p>
                                </div>
                            </h4>
                            <div class=" row" style="text-align:center">
                                <p style="text-align: center">@Html.DisplayFor(modelItem => depdate)
                                <img src="~/Images/output-onlinepngtools.png" width="30" height="30" />
                                @Html.DisplayFor(modelItem => arivedate)</p>
                            </div>
                            <div class=" row" style="text-align:center">
                                @Html.DisplayFor(modelItem => deptime)
                                <img src="~/Images/output-onlinepngtools.png" width="30" height="30" />
                                @Html.DisplayFor(modelItem => arivetime)
                            </div>
                        </div>
                    </td>
                    <td class="column">
                        <div class="card">
                            <h1 class="card-title" style="padding-left: 40px; color:rgb(255, 255, 255)" ;>
                                $ @Html.DisplayFor(modelItem => item.price)
                            </h1>
@*                            <div style=" padding-left: 45px;padding-top:20px">
                                <a href="#" class="btn btn-primary" style="color: rgb(255, 255, 255); ">buy ticket</a>
                            </div>*@
                        </div>
                    </td>
                </div>
            </tr>
        </table>
    </div>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.flightnum }) |
@*        @Html.ActionLink("Details", "Details", new { id = item.flightnum }) |
*@        @Html.ActionLink("Delete", "Delete", new { id = item.flightnum })
    </td>
    <br />
    <br />
    <br />

}

